<ion-header>
  <ion-toolbar>
    <ion-title>Ofertas de: {{usuarioEmpresa}} </ion-title>
    <ion-buttons slot="primary">
      <ion-back-button text="Regresar" color="tertiary">Regresar</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
   
    
       
  <ion-item-sliding *ngFor="let oferta of ofertas">
    <ion-item-options side="start">
      <ion-item-option  color="tertiary" (click)="editarOferta(oferta)">Editar</ion-item-option>
      <ion-item-option color="secondary" (click)="addRequisito(oferta)">Requisitos</ion-item-option>
    </ion-item-options>

    <ion-item>
      <ion-label (click)="detalleOferta(oferta)" >{{oferta.ofertaEmpleo_descripcionPuesto }} </ion-label>
      <P>{{oferta.ofertaEmpleo_Salario}}</P>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="danger" (click)="eliminarOferta(oferta)">
        <ion-icon name="trash-outline"></ion-icon></ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
        

        
    
       



   
    
</ion-content>
